.navigation {
    width: 200px;
    position: fixed;
    left: 0;
}
.navigation-item {
    background-color: rgb(194, 194, 194);
    padding: 15px;
    text-align: center;
    margin-bottom: 5px; 
}
.navigation-item a {
    color: black;
    text-decoration: none;
}
.navigation-item:hover {
    background-color: rgb(148, 146, 148);
    cursor: pointer;
}
.introduction {
    margin-left: 220px; 
    padding: 20px;
}
